@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Silka';
    src: url('../assets/fonts/Silka-Regular.otf');
    font-family: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Silka-Italic';
    src: url('../assets/fonts/Silka-RegularItalic.otf');
    font-family: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HM-Sans';
    src: url('../assets/fonts/HmSans/HM\ Sans\ Latin\ Regular.otf');
    font-family: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silka-Bold';
    src: url('../assets/fonts/silka-bold-webfont.ttf');
    font-weight: 700;
    font-display: swap;
}
