.physical_hero {
    background-image: url('../assets/images/physical_location_img.webp');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: calc(100vh - 120px);
    z-index: 7;
    padding: 21px 0;
}