.shopcart {
    background-image: url('../assets/images/cart_bg.webp');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 100vh;

    z-index: 7;
    padding: 21px 0;
}